.git
.gitignore
target
*.swp

# Don't invalidate the Docker cache if this file or the Dockerfile change since
#  the engine will be forced to read it anyways
.dockerignore
Dockerfile

# Don't invalidate the Docker cache if the docs change
*.md
docs
LICENSE
CODEOWNERS
